@model IEnumerable<FormBase.Models.Topic>;

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Topic</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var template in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => template.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@template.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@template.Id" class="btn btn-sm btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@template.Id" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>