@model IEnumerable<FormBase.Models.Template>;

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Your Templates</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Template</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var template in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@template.Id">@Html.DisplayFor(modelItem => template.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => template.Topic.Name)
            </td>
        </tr>
    }
    </tbody>
</table>
